.body

.w3-container a {
  color: #000000;
  text-decoration: none;
}

pre {
  text-align: left;

  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #000000;
  color: #fdfeff;
  overflow: scroll;
  border: 1px #929090 solid;
  padding: 15px;
}

.w3-card-4 {
  padding: 15px;
}

